.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/*.map
**/*.ts
!out/**/*.js
!out/**/*.json
!out/**/*.html
!out/**/*.css
out/test/**
node_modules/**
*.vsix
.eslintrc.json
webpack.config.js
tailwind.config.js
postcss.config.js
tsconfig.json
.DS_Store
Thumbs.db
coverage/**
.vscode-test.js